@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>;

@{
    ViewData["Title"] = "Application User";
}


<h1>View Roles</h1>

<a asp-action="Create" class="btn btn-primary">Create</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayNameFor(m=>m.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>item.Id)</td>
                <td>@Html.DisplayFor(m=>item.Name)</td>
            </tr>
        }
    </tbody>
</table>