@model QL_Ung_Vien.Models.Job

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chỉnh sửa thông tin công việc</h1>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="jobID" />
            <div class="form-group">
                <label asp-for="jobName" class="control-label"></label>
                <input asp-for="jobName" class="form-control" />
                <span asp-validation-for="jobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jD" class="control-label"></label>
                <textarea style="width: 100%; height: 100px;" asp-for="jD" class="form-control" id="tiny"></textarea>
                <span asp-validation-for="jD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeOpen" class="control-label"></label>
                <input asp-for="timeOpen" class="form-control" />
                <span asp-validation-for="timeOpen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeClose" class="control-label"></label>
                <input asp-for="timeClose" class="form-control" />
                <span asp-validation-for="timeClose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control"></input>
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}