@model QL_Ung_Vien.Models.Benefit

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Benefit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.benefitContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.benefitContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.benefitID">Edit</a> |
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
